.container{
    padding:30px;
    margin-left: 150px;
    transition: 1s;
    width: 546px;

}
.body{
    width: 100%;
    height: 100%;
}

.container:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px lightblue;
}

.top {
    margin-top: -210px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    font-weight: bolder;


}
.top:hover{
    box-shadow: rgba(0,0,0,0.253);
}
.weather-icon{
    width: 50px;
    margin-top: 5px;
}

.description{
   margin-top:20px;
    margin-left: 10px;
}
.city{
    font-weight: bolder;
}
#datetime{
    font-weight: bold;
    font-size: 12px;
}

.temp{
    font-size: 30px;
    font-weight: bold;
}

.icon{
width: 526px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}
.top1{
    padding-left: 30px;
}
.top2 {
    padding-right: 40px;
}
.weather{
    margin-top: 20px;
    display: flex;

}
.footer1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size:13px ;
    flex-wrap: wrap;
    padding:30px;
    border-radius: 10px;

}

.inner{
    color: white;
}
.tempMin{
    font-weight: bold;
    font-size:13px ;
}
.tempMax{
    font-weight: bold;
    font-size:13px ;
}
.inner1{
   padding-top: 20px;
}

.inner2{
    padding-top: 50px;
}
.inner3{
    padding-top: 90px;

    height: 100px;
}
.line {
    border-right: 6px solid white;
    height: 100px;
    margin-top: 20px;


}
.word{
    text-align: center;
    padding-top: 40px;
    color: gray;
    font-style: italic;

}
.footer{
    background-color: black;
    height: 100px;
}


.card{
    border-radius: 20px;
}

.top-title{
    display: flex;
}
.title{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 10px;
    margin-top:47px;

}
.titleImage{
    height: 50px;
    margin-top: 40px;
    margin-left:600px;


}

.button{
    font-size: 20px;
    font-weight: bolder;
    margin-top: -90px;
    margin-left: 1350px;
}
.icon{
    width: 485px;
}
.key{
    margin:10px -180px 10px 60px;
}
.icon1{
    width: 20px;
    margin-left: 47px;
    margin-top:-50px;
}

.wind{
    margin-top: -22px;
}

@media  screen and (max-width:600px) {
    .container{
        margin-left: 450px;
        width: 550px;
    }
    .footer{
        margin-top: 350px;
        height: 480px;
        width: 1520px;
    }
    .word{
        padding-top: 100px;
    }
    .button{
        margin-left: 1200px;
    }
    .card{
        padding-top: 50px;
    }
    .footer1{
        width: 469px;
    }

}

@media  screen and (max-width:1000px) and (min-width: 600px) {

    .key{
        margin:5px 33px 10px ;
        width:430px;

    }
    .container{
        margin-left: 400px;
    }
    .top{
        width: 500px;
    }
    .footer{
        width: 1500px;
    }
    .button{
        margin-left: 1300px;
    }

}
@media  screen and (max-width:1300px) and (min-width: 1000px) {

.footer{
    width: 1500px;
}
    .container{
        width: 546px;
    }
    .icon{
        width: 485.5px;
    }
    .key{
        margin:2px 70px 20px 17px;
    }
}

